body {
    width: 100%;
    font-family: Arial, sans-serif;
    font-size: 12px;
    margin: 0;
    background-color: #202124;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.header {
    display: flex;
    justify-content: flex-end;
    padding: 15px;
}

.header a {
    margin-left: 10px;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.87);
}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
    margin-top: 10vh;
}

.search-bar {
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    margin-bottom: 20px;
    width: 100%;
    align-items: center;
}

.search-bar input {
    width: 40%;
    padding: 5px 10px;
    border: none;
    border-radius: 24px;
    font-size: 16px;
    margin-bottom: 25px;
    background-color: transparent;
    border: 1px solid rgb(89, 89, 89);
    color: white;
}

.search-bar input:hover {
    background-color: #36373a;
}

.logo-google {
    height: 90px;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.buttons button {
    padding: 5px 10px;
}

.search-bar button {
    background-color: #353638;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 10px 20px;
    margin: 0;
    font-size: 14px;
    cursor: pointer;
}

.search-bar .buttons button {
    padding: 5px 10px;
    font-size: 12px;
}

.search-bar button:hover {
    background-color: #323030;
}

.footer {
    position: absolute;
    background-color: #020202;
    width: 100%;
    bottom: 0;
    padding: 10px;
    text-align: center;
    box-sizing: border-box;
    margin-top: 15%;
    color: white;
}

.footer a {
    margin-right: 15px;
    font-size: 10px;
}